@import "@_variable";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: hsl(0, 0, 30%);
  font-size: 1.2em;
}

.btn_container {
  border-bottom: 1px dotted $border_color;
  padding: 10px;
  display: inline-block;

  svg {
    font-size: 1.5em;
    &:hover {
      color: $fade_white;
    }
  }
}

svg {
  cursor: pointer;
}

.side-nav {
  background: #3D3C42;
  * {
    color: #fff;
  }

  .round_image {
    img {
      width: 60px;
      height: 60px;
    }
  }

  .list_container {
    gap: 1em;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px 0;
      list-style: none;
      place-items: center;

      span {
        font-size: .7em;
      }

      &:hover {
        background: white;
        * {
          color: #000;
        }
      }
    }
  }

}

.card_container {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: $box-shadow;

  .header {
    width: 100%;
    height: 80px;
    background: green;
  }

  .body {
    padding: 10px;

    .text_container {
      * {
        text-align: left;
      }

      h2 {
        padding-bottom: 5px;
        color: #256D85;
        font-weight: 900;
      }

      h5, p {
        font-size: .8em;
      }

      .main {
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      li {
        list-style: none;
        font-size: 1.6em;

        .credit {
          font-size: .6em;
          color: $fade_white;
        }
      }
    }

    .icons {
      padding-top: 10px;
      display: flex;
      gap: 1em;
      justify-content: space-evenly;
      place-items: center;

      svg {
        font-size: 1em;
      }
    }
  }
}

.card_c {
  border: 1px solid $border_color;
  padding: 5px 10px;
  box-shadow: $box-shadow;

  * {
    font-family: $font-family-roboto;
    font-size: 15px;
  }

  .header {
    width: 100%;
    padding: 8px 0;

    h3 {

    }

    li {
      text-align: left;
      padding-bottom: 5px;
      color: $fade_white;
    }
  }

  .main {

    .body {

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 2;
        -webkit-box-orient: vertical;

        &:hover {
          -webkit-line-clamp: min(100)
        }
      }

      li {
        text-align: left;
        font-size: 1.5em;

        span {
          color: $fade_white;
        }
      }
    }
  }
}

.profile {

  .left_side {
    padding: 10px;

    .image_container {

      p {
        font-size: .8em;
        letter-spacing: 1px;
        color: $fade_white;
      }
    }

    .accordion_toggle {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      padding: 2px;
      margin-top: 1em;
      font-weight: 700;
      letter-spacing: 2px;
      justify-content: flex-end;
      place-items: flex-end;
      grid-gap: 1em;
      border-bottom: 1px solid $border_color;

      span {
        text-align: left;
        width: 100%;
      }
      svg {
        float: right
      }
    }



    .information {
      margin-top: 0;
      text-align: left;
      font-size: .8em;
      opacity: 0;
      height: 0;

      .add_ {
        color: $fade_white;
        text-transform: uppercase;
        font-size: .8em;

        &:after {
          content: "________________________________";
          display: inline-block;
          width: 100px;
          position: absolute;
          padding-left: 5px;
          text-transform: uppercase;
        }
      }

      .address {
        padding-left: 1em;

        p {
          display: list-item;
          list-style-type: square;
          tab-size: 2;
        }
      }
    }

    .information.activate {
      margin-top: 1.5em;
      opacity: 1;
      height: auto;
      transition: height 0.5s ease, padding-top 0.5s ease, padding-bottom 0.5s ease;

      .add_:after {
        content: "";
      }
    }

    section {
      margin-top: 1.5em;
      * {
        text-align: left;
      }

      p {
        margin-bottom: .3em;
        span {
          padding-right: 1em;
          font-size: .9em;
          color: $fade_white;
        }
      }
    }
  }

  .main {

    .section_top, .accordion {
      width: 100%;
      height: 100%;
    }
    .section_top {
      text-align: left;

      .info_container {
        padding: 15px 0;

        * {
          text-align: left;
        }

        h3 {
          font-weight: bold;
        }

        p {
          font-size: .8em;
        }
      }
    }
  }
}

.accordion {
  height: 100%;
  z-index: 1;

  li {
    list-style: none
  }

  .accordion-tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    place-items: center;
    border-bottom: 1px solid $border_color;

    .accordion-tab {
      width: fit-content;
      cursor: pointer;
      padding: 5px 10px;
      color: $fade_white;

      &:hover {
        background: #2C3333;
        color: #fff;
      }
    }
  }

  .accordion-content {

    .tab-section {
      display: none;
      width: 100%;
    }

    .activate_section {
      display: grid;
      width: 100%;

      * {
        width: 100%;
      }
    }

    section {
      width: 100%;
      padding: 10px;

      .address {
        padding: 10px;
        border-bottom: 1px dotted $border_color;

        * {
          text-align: left;
        }

        span {
          font-size: .8em;
          padding-right: 1em;
        }

        .address_container {

          li {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;

            p {
              text-transform: uppercase;
              font-size: 14px;
            }
          }
        }

        .edit_container {
          border-bottom: 1px dotted $border_color;
          width: 100%;
          display: inline-flex;
          gap: 1em;
          justify-content: flex-end;
          place-items: flex-end;

          li {
            svg {
              color: #4C6793;
            }
            &:last-child > svg {
              color: #FF1E1E
            }
          }
        }
      }
    }


  }

  .form-container {
    padding: 15px;

    .title-container {
      padding-bottom: 15px;

      h3 {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px dotted $border_color;
      }
    }

    form {
      padding: 10px;

      .form-group {
        width: 100%;

        input {
          text-align: left;
          width: 100%;
          border-bottom: 1px solid $border_color;
          margin-bottom: .5em;
          padding: 2px;
          font-size: 1em;
        }

        input[type="submit"] {
          border: 1px solid $border_color;
          text-align: center;
          text-transform: uppercase;
          border-radius: 20px;
          margin-top: 1em;
          cursor: pointer;

          &:hover {
            background: #2C3333;
            color: #fff;
          }
        }
      }

      .message {
         p {
           color: $color_green;
         }
      }
    }
  }
}